<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  <title>Error {{code}}</title>
  <link rel="stylesheet" href="/static/css/screen.css" />
</head>
<body id="error{{message}}" class="error">
  <div id="page">
    <header>
      <h1><a href="/">Error</a> <span>:({{code}}):</span></h1>
    </header>
    <section>
      <p>{{message}}</p>
    </section>
    <footer>
      <address>&copy; <a href="http://www.jethrolarson.com">Jethro Larson</a> and <a href="http://bradonweb.blogspot.com">Brad Boswell</a> 2009-present</address>
    </footer>
  </div>
</body>
</html>