<!DOCTYPE html>
<html lang='en-us'>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<title>TuneToy</title>
	<link href="/static/css/screen.css" rel="stylesheet"/>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/app.js"></script>
	<div id="page">
		<div id="body">
			<div id="timeline">
				laskdfjasldkjl
			</div>
		</div>
		<menu id="footer">
			<button>Save</button>
			<button>New</button>
			<button>Load</button>
			<button>Share</button>
		</menu>
	</div>
</html>